body {
  background-color: grey;
  font-weight: 600;
}

h1 {
  color: wheat;
  font-size: 30px;
  text-align: center;
  margin-top: 150px;
}

h2 {
  color: blueviolet;
  padding: 0px;
  margin-top: 150px;
}

p {
  color: wheat;
  font-size: 15px;
  padding-left: 0px;
}

.smile {
  font-size: 20px;
}

button {
  background-color: orange;
  color: blue;
  border-radius: 5px;
  border: none;
  display: flexbox;
  justify-content: space-between;
  justify-content: center;
  flex-direction: row;
  padding: 10px 20px;
  margin-top: 150px;
  margin-right: 50px;
  cursor: pointer;
  font-weight: 600;
}

section {
  text-align: center;
}